[Desktop Entry]
Encoding=UTF-8
Name=Hydrocarbon
Comment=Hydrocarbon P2P Cryptocurrency
Comment[fr]=Hydrocarbon, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Hydrocarbon, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Hydrocarbon-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/Hydrocarbon;
Categories=Office;
