[Desktop Entry]
Encoding=UTF-8
Name=Bubble
Comment=Bubble P2P Cryptocurrency
Comment[fr]=Bubble, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bubble, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Bubble-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/Bubble;
Categories=Office;
